
/* =============== Body ================ */

.div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.divv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.title {
  margin: 5px 0px 0px 0px;
  text-align: center;
  color: cadetblue;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title2 {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  color: cadetblue;;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -5px 0px 0px 0px;
  padding: -10px 0px 0px 0px;
}

.repo-btn {
  display: inline-block;
  text-align: center;
  margin: 20px 15px 15px 15px;
  color:black;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Calibri';
  padding: 5px 7px;
  text-decoration: none;
}

.repo-btn:hover {
  opacity: 0.7;
}

.repo-btn:active {
  transform: translate(0, 3px);
}

/* ================ Kafka Section ================ */

.kafka-row {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 98%;
  /* height: 100vh; */

  text-align: center;
  border-top: 2px solid rgb(186, 186, 186);
  border-bottom: 2px solid rgb(186, 186, 186);
}

.kafka-title {
  font-size: 35px;
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 20px 0px 0px 0px;
}

.line-graph {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 95%;
  height: 100%;
}

.interval {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 95%;
  height: 100%;
}

/* =========== README =============== */

.readme-section {
  margin: 0px 0px 20px 0px;
  padding: 10px 10px 20px 30px;
  width: 40%;

  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: rgb(186, 186, 186);

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

pre {
  white-space: pre-wrap;   /* Wrap long lines */
  word-wrap: break-word;   /* Break words if needed */
  overflow-x: auto;        /* Show scrollbar if still too wide */
  max-width: 100%;         /* Don't exceed parent width */
}

  /* =================================== */

  .row1 {
  margin:0px 0px 0px 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.graph1 {
  border-right: 2px solid rgb(186, 186, 186);
  border-bottom: 2px solid rgb(186, 186, 186);
  margin: 0px;
  padding: 0px 20px 0px 0px;
  width: 48%;
}

/* ================== Data Table ================ */

.data-section {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /* width: 98%; */
}

.data-row {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 98%;

  text-align: center;
  border-top: 2px solid rgb(186, 186, 186);
  border-bottom: 2px solid rgb(186, 186, 186);
}

.table-title {
  font-size: 35px;
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 20px 0px 0px 0px;
}

.data-table {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

.data {
  width: 100%;
  height: 430px;
}

/* Target the figure element within the dcc.Graph component with class 'data' */
.data .plotly-table {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 50px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}
.data .dash-graph {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 50px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}

.scrollable-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}