
/* =============== Body ================ */

.div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.divv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.title {
  margin: 5px 0px 0px 0px;
  text-align: center;
  color: cadetblue;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title2 {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  color: cadetblue;;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -5px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.repo-btn {
  /* display: inline-block; */
  border: 1px solid black;
  border-radius: 2px;

  color:black;
  background-color: lightgray;

  font-size: 15px;
  font-family: 'Calibri';
  text-align: center;
  text-decoration: none;

  margin: 20px 15px 15px 15px;
  padding: 1px 6px 2px 6px;
}

.repo-btn:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.repo-btn:active {
  transform: translate(0, 3px);
}

/* ================ Kafka Section ================ */

.kafka-row {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Controls spacing between children */
  /* flex-grow: 1; */

  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  width: 98%;
  /* height: 100vh; */

  text-align: center;
  border-top: 2px solid rgb(186, 186, 186);
  border-bottom: 2px solid rgb(186, 186, 186);
}

.kafka-title {
  font-size: 35px;
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

.stream-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -20px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

#pause-button {
  border: 1px solid;
  border-radius: 4px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  /* background-color: lightgray; */
  font-family: 'Calibri';
  font-size: 34px;

  margin: 15px 20px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#pause-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

#pause-button:active {
  transform: translate(0, 3px);
}

#reset-button {
  border: 1px solid;
  border-radius: 4px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  /* background-color: lightgray; */
  font-family: 'Calibri';
  font-size: 34px;

  margin: 15px 0px 0px 20px;
  padding: 0px 0px 0px 0px;
}

#reset-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

#reset-button:active {
  transform: translate(0, 3px);
}

/* .stream-status-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: 'Calibri';
  font-size: 25px;
  border: 2px solid;
  background-color: white;

  margin: 15px 0px 0px 20px;
  padding: 0px 0px 0px 0px;
} */

.line-graph {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
}

.interval {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 95%;
  height: 100%;
}

/* =========== Stream Row =============== */

.stream-row {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Controls spacing between children */
  /* flex-grow: 1; */

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 98%;
  /* height: 100vh; */
  border-bottom: 2px solid rgb(186, 186, 186);
}

.stream-status-text {
  text-align: center;
  border-bottom: 2px solid rgb(186, 186, 186);
  border-right: 2px solid rgb(186, 186, 186);
  border-left: 2px solid rgb(186, 186, 186); 
}

#view-mode-toggle{
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;

  margin: 0px 20px 0px 0px;
  padding: 0px 20px 0px 0px;
}

/* =========== AI Box =============== */

.data-row {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 5px; Controls spacing between children */
  /* flex-grow: 1; */

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 98%;
  /* height: 100vh; */
  border-bottom: 2px solid rgb(186, 186, 186);
}

.ai-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 50%;
  height: auto;
  /* border-right: 2px solid rgb(186, 186, 186); */
}

.ai-title {
  font-size: 25px;
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

.gpt-response {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  width: 90%;
  height: auto; /* Allow height to adjust based on content */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  /* border-right: 2px solid rgb(186, 186, 186); */
}

/* =========== Data Box =============== */

.data-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 50%;
  height: 100%;
  border-left: 2px solid rgb(186, 186, 186);
}

.data-title {
  font-size: 25px;
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 20px 0px 0px 0px;
}

.check-in-table {
  margin: 0px 0px 0px 0px; /* Adjust the margin as needed */
  padding: 15px 0px 0px 0px; /* Adjust the padding as needed */
  width: 90%;
  /* height: ; */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}

.scrollable-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}

/* =========== README =============== */

.readme-section {
  margin: 0px 0px 20px 0px;
  padding: 10px 10px 20px 30px;
  width: 40%;

  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: rgb(186, 186, 186);

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

pre {
  white-space: pre-wrap;   /* Wrap long lines */
  word-wrap: break-word;   /* Break words if needed */
  overflow-x: auto;        /* Show scrollbar if still too wide */
  max-width: 100%;         /* Don't exceed parent width */
}

  /* =================================== */

  .row1 {
  margin:0px 0px 0px 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.graph1 {
  border-right: 2px solid rgb(186, 186, 186);
  border-bottom: 2px solid rgb(186, 186, 186);
  margin: 0px;
  padding: 0px 20px 0px 0px;
  width: 48%;
}

/* ================== Data Table ================ */

.table-title {
  font-size: 35px;
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 20px 0px 0px 0px;
}

.check-in-table {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

.data {
  width: 100%;
  height: 430px;
}

/* Target the figure element within the dcc.Graph component with class 'data' */
.data .plotly-table {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 50px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}
.data .dash-graph {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 50px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}

.scrollable-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}